header {
    height: 130px;
    padding-left: 30px;
    padding-top: 17px;
    background-color: #2a2d36;
    }
main {
    height: 540px;
    background-color: #c4c4c5;
   }
h1 {
    font-size: 53px;
    color: #fab518;
    font-family: "Ranchers", sans-serif;
    }
h2 {
    font-size: 37px;
    color: #252831;
    font-family: "BBH Sans Hegarty", sans-serif;
}
h3 {
    font-size: 26px;
    margin-left: 2px;
    margin-top: 1px;
    font-family: "Inconsolata", monospace;
    color: #fdfdfd;
    }
p {
    font-size: 39px;
    margin-top: 7px;
    color: #fdfdfd;
    margin-left: 1px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
}
div {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-left: 42px;
    margin-top: 15px;
    }
img {
    width: 510px;
    height: 510px;
    float: left;
    margin-left: 47px;
}
ul {
    list-style: disc;
    font-size: 24px;
    margin-top: 16px;
    line-height: 2;
    font-family: "Lexend", sans-serif;
}
footer {
    vertical-align: bottom;
    text-align: center;
    color: #54525266;
    font-family: "Lexend", sans-serif;
    background-color: #c4c4c5;
}